$bg-dark-blue: 			#283239;
$bg-blue: 				#2d98b3;//rgb(45,152,179) 0 - 0.5  for header
$bg-input-light-blue:	#98d2de;
$bg-gray-blue:			#cdd8e1;
$bg-header-dark-blue:	#35495d;
$bg-homepage-news-box: 	#dde6ed;
$bg-nav-dropdown:		#298baa;
//$label-gray:			#c2c2c2;

// font color
$font-blue: 			#2e9bb6;
$font-gray: 			#a5a5a5;
$font-white:			#ffffff;

$button-blue:			#267a95;






$app-cyan:              #00aeef; //rgb(0,174,239)
$app-dark-gray:         #34363b; //rgb(52,54,59)
$app-warm-gray:         #f7f5f4; //rgb(247,245,244)

//Application colors
$font-color-base: #323334;
$font-color-link: #00aeef;
$font-color-secondary: #979ba8;
$font-color-nav: #fff;

$shadow: 0 0.1rem 0.3rem 0 rgba(0,0,0,.2);
$hard-shadow:  0 0.1rem 0.1rem 0 rgba(0,0,0,.3);
$blue-shadow: 0 0.1rem 0.3rem 0 rgba(0,174,239,.2);
$ui-handle-shadow: 0 0.1rem 0.5rem 0 rgba(0,0,0,.2);
$ui-track-shadow: inset 0 0.1rem 0.3rem -0.1rem rgba(0,0,0,.2);
$border-color: #d6d6d6;
$border-base: solid $border-color 0.1rem;

$main-nav-color: $app-dark-gray;
$sub-nav-color: $app-warm-gray;
$main-nav-selected: #282a2e;
$sub-nav-selected: #dfdfdf;
$main-nav-border: solid #000 0.1rem;
$sub-nav-border: solid $border-color 0.1rem;
$alert-color: $app-cyan;
$breadcrumb-bg: #dfdfdf;
