// media screen size
$tablet-screen-width: 768px;

$angle-section-height: 650px;
$angle-section-padding-horizontal-large-screen: 5%;
$angle-section-padding-horizontal-small-screen: 15px;
$angle-section-padding-vertical: 100px;
$angle-height: 80px;

$large-text: 60px;
$small-text: 14px;

$font-family: 'Source Sans Pro', sans-serif;

$button-height: 40px;
$contact-form-control-height: 50px;

$journey-line-radius: 30px;